.fade-enter-active,
.fade-exit-active {
    transition: opacity 0.15s;
}
.fade-enter,
.fade-exit-to {
    opacity: 0;
}

.slide-left {
    &-enter-active,
    &-exit-active {
        transition: transform 0.15s;
    }
    &-enter,
    &-exit-to {
        transform: translateX(100%);
    }
}

.app-region {
    &-drag {
        -webkit-app-region: drag;
    }

    &-no-drag {
        -webkit-app-region: no-drag;
    }
}
